
.app-container {
  padding: 20px;
  background-color: coral;
  margin: 0 auto;
  border-radius: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  
}

nav {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.recipe-item {
  cursor: pointer;
  margin-bottom: 10px;
}

.image-container img {
  width: 100%; 
  height: auto;
  max-width: 900px;
  display: block; 
  margin-bottom: 20px; 
}



.search-container {
   width: 100%;
  padding: 20px; 
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}